<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body>
  <h1>Kademlia</h1>
  <h3>Node ID</h3>
  <p>{{node_id}}</p>
  <h3>Port Number</h3>
  <p>{{node_port_number}}</p>
  <h3>Node URI</h3>
  <p>{{my_ip_address}}</p>
  <form name="portForm" action="{{ping}}">
    <input type="submit" value="PING" />
  </form>
  <br>
  <form name="portForm" action="{{ping}}">
    <input type="submit" value="DISCOVER" />
  </form>

  <!-- start of table -->

  <style>
    body {
      margin-left: 3%;
      margin-right: 3%;
      font-family: Arial, Helvetica, sans-serif;
    }

    table,
    td,
    th {
      border: 1px solid #9E9E9E;
      text-align: left;
    }

    table {
      margin-top: 2%;
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      text-align: left;
      padding: 7px;
    }

    th {
      background-color: #2196F3;
      color: white;
    }

    .floating-box {
      float: left;
      width: 31%;
      height: 110px;
      margin: 10px;
    }
  </style>

    <div class="floating-box">
      <h2>Bucket 1</h2>
      <table id="table1">
        <tr>
          <th>Node ID</th>
          <th>Port</th>
          <th>IP_address</th>
        </tr>

        <tr>
          <td>{{k_bucket_id}}</td>
          <td>{{k_bucket_port}}</td>
          <td><a href="{{kbucket_ip_address}}">{{kbucket_ip_address}}</a></td>
          </td>
        </tr>
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 2</h2>
      <table id="table2">
        <tr>
          <th>Node ID</th>
          <th>Port</th>
          <th>IP_address</th>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          </td>
        </tr>
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 3</h2>
      <table id="table3">
        <tr>
          <th>Node ID</th>
          <th>Port</th>
          <th>IP_address</th>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          </td>
        </tr>
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 4</h2>
      <table id="table4">
        <tr>
          <th>Node ID</th>
          <th>Port</th>
          <th>IP_address</th>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          </td>
        </tr>
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 5</h2>
      <table id="table5">
        <tr>
          <th>Node ID</th>
          <th>Port</th>
          <th>IP_address</th>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          </td>
        </tr>
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 6</h2>
      <table id="table6">
        <tr>
          <th>Node ID</th>
          <th>Port</th>
          <th>IP_address</th>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          </td>
        </tr>
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 7</h2>
      <table id="table7">
        <tr>
          <th>Node ID</th>
          <th>Port</th>
          <th>IP_address</th>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          </td>
        </tr>
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 8</h2>
      <table id="table8">
        <tr>
          <th>Node ID</th>
          <th>Port</th>
          <th>IP_address</th>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          </td>
        </tr>
      </table>
    </div>

  <!--end of table -->



</body>

</html>
