<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>

<body>

  <style>


    body {
      margin-left: 1%;
      margin-right: 3%;
      font-family: Arial, Helvetica, sans-serif;
    }

    table,
    td,
    th {
      border: 1px solid #9E9E9E;
      text-align: left;
    }

    table {
      margin-top: 2%;
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      text-align: left;
      padding: 7px;
    }

    th {
      background-color: #2196F3;
      color: white;
    }

    .floating-box {
      float: left;
      width: 31%;
      height: 20%;
      margin: 1%;
    }

    .float_left {
      width: 20%;
      height: 100%;
      float: left;
      border-right: 2px solid black;
      padding-right: 1%;
    }

    .wrap-box {
      float: right;
      width: 75%;
    }

    input[type=text],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type=submit] {
      width: 100%;
      background-color: #F44336;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #D32F2F;
    }

    .form {
      border-radius: 5px;
    }

    .info {
      border-bottom: 2px solid black;
      margin-bottom: 25px;
    }
  </style>

  <div class="float_left">
    <div class="info">
      <h1>Kademlia</h1>
      <h3>Node ID</h3>
      <p>{{node_id}}</p>
      <h3>Port Number</h3>
      <p>{{node_port_number}}</p>
      <h3>Node URI</h3>
      <p>{{my_ip_address}}</p>



    </div>
  <h3>PING</h3>
    <div class="form">
      <form id="registerform">
        <input type="text" name="sendToPort" placeholder="Enter port number to ping">
        <div id="ifYes" style="display:none">
        <input type="text" name="remoteId" value="{{node_id}}">
        <input type="text" name="remotePort" value="{{node_port_number}}">
        <input type="text" name="remoteIp" value="{{my_ip_address}}">
        </div>
        <input type="submit" onclick="update()" value="PING">
      </form>
    </div>
    <h3>Find_node</h3>

    <form id="findnodeform">
      <div id="ifYes" style="display:none">
      <input type="text" name="find_port" value="{{node_port_number}}">
        </div>
      <input type="text" name="remoteId" placeholder="Enter ID to search for">

      <input type="submit" onclick="update()" value="Find_Node">
    </form>


    <h3>Node_lookup</h3>
    <form id="nodelookupform">
      <input type="text" name="remoteId" placeholder="Enter ID to search for">
<div id="ifYes" style="display:none">
      <input type="text" name="node_lookup_port" value="{{node_port_number}}">
      <input type="text" name="decision" value="something">
</div>
      <input type="submit" onclick="updateNodeLookupForm()" value="Look_up">
    </form>
  </div>
  <script>

  document.getElementById('ifYes').style.display = 'none';
    var remotePort;
    var find_port;
    var find_id;
    var node_lookup_id;
    var node_lookup_port;

    function updateNodeLookupForm(){
      node_lookup_port = document.forms['nodelookupform'].elements['node_lookup_port'].value;
    }

    function update() {
      remotePort = document.forms['registerform'].elements['sendToPort'].value;
      find_port = document.forms['findnodeform'].elements['find_port'].value;
      find_id = document.forms['findnodeform'].elements['remoteId'].value;
    }

    $(function() {
      $("#registerform").on("submit", function(e) {
        e.preventDefault();
        $.ajax({
          url: 'http://localhost:' + remotePort + '/api/node/ping',
          type: 'POST',
          data: $(this).serialize(),
          complete: function() {
            //called when complete
            console.log('process complete');
          },
          success: function(data) {
            console.log(data);
            console.log('process sucess');
            var myJSON = JSON.stringify(data);
            alert(myJSON);
          },

          error: function() {
            console.log('process error');
          },
        });
      });
    });

    $(function() {
      $("#findnodeform").on("submit", function(e) {
        e.preventDefault();
        $.ajax({
          url: 'http://localhost:' + find_port + '/findnode',
          type: 'POST',
          data: $(this).serialize(),
          complete: function() {
            //called when complete
            console.log('process complete');
          },
          success: function(data) {
            console.log(data);
            var myJSON = JSON.stringify(data);
            alert(myJSON);
            console.log('process sucess');
          },

          error: function() {
            console.log('process error');
          },
        });
      });
    });


    $(function() {
      $("#nodelookupform").on("submit", function(e) {
        e.preventDefault();
        $.ajax({
          url: 'http://localhost:' + node_lookup_port + '/findnode',
          type: 'POST',
          data: $(this).serialize(),
          complete: function() {
            //called when complete
            console.log('process complete');
          },
          success: function(data) {
            console.log(data);
            var myJSON = JSON.stringify(data);
            alert(myJSON);
            console.log('process sucess');
          },

          error: function() {
            console.log('process error');
          },
        });
      });
    });

  </script>

  <!-- start of table -->
  <div class="wrap-box">
    <div class="floating-box">
      <h2>Bucket 0</h2>
      <table>
        {{> table}}
        {{#list "0"}}{{/list}}
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 1</h2>
      <table>
        {{> table}}
        {{#list "1"}}{{/list}}
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 2</h2>
      <table>
        {{> table}}
        {{#list "2"}}{{/list}}
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 3</h2>
      <table>
        {{> table}}
        {{#list "3"}}{{/list}}
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 4</h2>
      <table>
        {{> table}}
        {{#list "4"}}{{/list}}
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 5</h2>
      <table>
        {{> table}}
        {{#list "5"}}{{/list}}
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 6</h2>
      <table>
        {{> table}}
        {{#list "6"}}{{/list}}
      </table>
    </div>

    <div class="floating-box">
      <h2>Bucket 7</h2>
      <table>
        {{> table}}
        {{#list "7"}}{{/list}}
      </table>
    </div>

  </div>
  <!--end of table -->
</body>

</html>
